.formulario{
    p{
        font-size: 1.4rem;
        color: $grisOscuro;
        margin: 2 0 0;
    }

    legend{
        font-size: 2rem;
        color: $grisOscuro;
    }

    label{
        font-weight: $bold;
        text-transform: uppercase;
        display: block;
    }

    input:not([type='submit']),
    textArea,
    select{
        background-color: $blanco;
        border: 1px solid darken($color: $gris, $amount: 10%);
        border-radius: 1rem;
        display: block;
        margin-bottom: 2rem;
        padding: 1rem;
        width: 100%;
    }

    textArea{
        resize: none;
    }
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="radio"]{
        margin: 0;
        width: auto;
    }
}